 <main>
  <p id="notice"></p>
  <div class='container px-5 px-sm-0'>
   <div class='row'>

    <%= render 'users/list', user: @user, book: @newbook %>

    <div class='col-md-8 offset-md-1'>
     <h2>Book detail</h2>
     <table class='table'>
      <tr>
       <td><%= attachment_image_tag @user, :profile_image, :fill, 40, 40, format: 'jpeg', fallback: "no_image.jpg", size:'40x40' %></br>
         <%= link_to @user.name, user_path(@user) %>
       </td>
       <td><%= link_to @book.title, book_path(@book) %></td>
       <td><%= @book.body %></td>
       <td class="favorite_<%= @book.id %>">
         <%= render 'favorites/favorite', book: @book %>
       </td>
       <td class="comments_count">
        <%= render 'book_comments/count', book: @book %>
       </td>
       <td>
         <% if @book.user == current_user %>
          <%= link_to "Edit", edit_book_path(@book), class:"btn btn-sm btn-success" %>
         <% end %>
        </td>
        <td>
         <% if @book.user == current_user %>
          <%= link_to "Destroy", @book, method: :delete, "data-confirm" => "本当に削除しますか？", class:"btn btn-sm btn-danger" %>
         <% end %>
        </td>
      </tr>
     </table>


     <table class="comments_index">
      <%= render 'book_comments/index', book: @book %>
     </table>
     
     <div class="comment_form">
      <%= render 'book_comments/form', book: @book, book_comment: @book_comment %>
     </div>
     </div>
    </div>

   </div>
  </div>
</main>